:root {
  --gray: #98a6ad;
  --gray-dark: #343a40;
  --primary: #536de6;
  --secondary: #6c757d;
  --success: #10c469;
  --info: #35b8e0;
  --warning: #f9c851;
  --danger: #ff5b5b;
  --danger-lighten: #ff5b5b5d;

  --light: #eef2f7;
  --light-bg: #fafbfe;
  --light-2: #ccc;
  --white: #fff;
  --dark: #323a46;
  --dark-lighten: #3c4655;
  --gutter-horizontal: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: var(--light-bg);
  overflow-x: hidden;
}

ul {
  list-style: none;
  color: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* Utilities */
.app-content {
  width: 100%;
  height: calc(100vh - 5rem);
}
.app-main-container {
  display: flex;
  height: 100%;
  position: relative;
}
.app-main-content {
  flex: 1;
  padding: 2rem;
  /* height: 100%;
  overflow-y: scroll; */
}

.app-page-header {
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--light);
}

.app-page-header div:last-child {
  margin-left: auto;
}

.app-groups-header {
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.app-page {
  height: calc(100vh - 5rem);
}
.app-home-content {
  height: calc(100% - 6.1rem);
  overflow-y: auto;
}

/* media query */
@media screen and (max-width: 600px) {
  .app-main-content {
    width: 100%;
    height: 100%;
  }
}

/* UTILITIES */
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pl-1 {
  padding-left: 1rem;
}
/* Navbar component styles */
.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  padding: 0 4rem;
}

.nav__logo-box {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--primary);
}

.nav__navigation {
  margin-left: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.nav__nav-link {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav__nav-link.active {
  background-color: var(--primary);
}
.nav__nav-link:not(.active):hover {
  background-color: var(--dark-lighten);
}
/* media query */
@media screen and (max-width: 600px) {
  .nav__navigation {
    display: none;
  }
}
/* Sidebar component styles */
.sidebar {
  height: 100%;
  flex: 0 0 200px;
  background-color: var(--white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}
.sidebar__header {
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--light-bg);
  padding: 0 2.3rem;
}
.sidebar__header span {
  width: 25%;
}
.sidebar__navigation {
  display: flex;
  flex-direction: column;
  height: calc(100% - 5rem);
}

.sidebar__nav-item:last-child {
  margin-top: auto;
  margin-bottom: 2rem;
}

.sidebar__nav-link {
  width: 100%;
  padding: 1.5rem 2.3rem;
  display: flex;
  transition: all 0.2s;
}
.sidebar__nav-link:not(.active):hover {
  color: var(--primary);
}

.sidebar__nav-link.active {
  color: var(--light);
  background-color: var(--primary);
}

.sidebar__nav-link span:not(.link-text) {
  width: 25%;
}

.sidebar__nav-link .link-text {
  width: 75%;
}

/* media query */
@media screen and (max-width: 600px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    width: 100vw;
    height: 6rem;
  }
  .sidebar__header {
    display: none;
  }
  .sidebar__navigation {
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .sidebar__nav-item {
    height: 100%;
    flex: 1;
  }
  .sidebar__nav-item:last-child {
    display: none;
  }
  .sidebar__nav-link {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .sidebar__nav-link span {
    font-size: 2rem;
    margin-left: 2px;
  }
  .sidebar__nav-link .link-text {
    display: none;
  }
}

/* tab */
.tab {
  /* width: 100%; */
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 0 3rem;
}
.tab-item {
  height: 100%;
}
.tab-link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 0 1rem;
  transition: all 0.3s;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
}
.tab-link:not(.active):hover {
  background-color: var(--light);
}
.tab-link::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  opacity: 0;
  transition: opacity 0.3s;
}
.tab-link.active::after {
  opacity: 1;
}

/* Input */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
  padding: 7px 1.5rem;
  font-size: 1.4rem;
  font-family: inherit;
  outline: none;
  border: 1px solid var(--light-2);
  transition: all 0.3s;
}

input:not([type="radio"]):not([type="checkbox"]):active,
input:not([type="radio"]):not([type="checkbox"]):focus,
input:not([type="radio"]):not([type="checkbox"]):hover,
select:active,
select:hover,
select:focus {
  border: 1px solid var(--primary);
}

/* Button */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 7px 1.5rem;
  outline: none;
  font-size: 1.4rem;
  font-family: inherit;
  background-color: var(--secondary);
  color: var(--white);
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--white);
}

.btn-success {
  background-color: var(--success) !important;
  color: var(--white);
}
.btn-info {
  background-color: var(--info) !important;
  color: var(--white);
}
.btn-danger {
  background-color: var(--danger) !important;
  color: var(--white);
}
.btn-search {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 6px 1.2rem;
}
.btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.btn-sm {
  padding: 5px 1rem !important;
  font-size: 1.3rem !important;
}
/* Searchbox */
.search-box__container {
  /* width: 100%; */
  height: 5rem;
  background-color: var(--white);
  padding: 0 4rem;
  display: flex;
  align-items: center;
}
.search-box__input-group {
  box-sizing: border-box;
  position: relative;
}

.search-box__input {
  height: 100%;
  min-width: 30%;
  padding: 7px 1.5rem 7px 3.5rem !important;
}
.search-box__icon {
  position: absolute;
  color: var(--light-2);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.4rem;
}

/* Grid */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  flex-basis: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
}

@media screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100% !important;
  }
}

/* Spinner */
.spinner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.spinner::after {
  content: "";
  width: 60px;
  height: 60px;
  border-top: 3px solid var(--primary);
  border-right: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  animation: spin 0.6s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* BADGE */
.badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: var(--dark);
  color: var(--white);
  border-radius: 2px;
  font-size: 1.2rem;
  min-width: 40px;
  text-align: center;
}

.badge-primary,
.badge-R,
.badge-CICS {
  background-color: var(--primary);
  color: var(--white);
}
.badge-success,
.badge-1T {
  background-color: var(--success);
  color: var(--white);
}
.badge-info,
.badge-2T,
.badge-3T,
.badge-4T,
.badge-ACS {
  background-color: var(--info);
  color: var(--white);
}
.badge-danger,
.badge-NACS {
  background-color: var(--danger);
  color: var(--white);
}

/* HOME -> GROUP LIST ITEM */
.group-list-title {
  color: var(--secondary);
  padding: 2rem 1rem 0 2rem;
}
.group-item {
  padding: 2.4rem;
  background-color: var(--white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  font-size: 1.4rem;
  color: var(--secondary);
}
.group-item:hover {
  background-color: var(--light-bg);
}
.group-item-text {
  padding: 1.5rem 0;
}
.group-item-title {
  cursor: pointer;
}
.group-item-title:hover {
  color: var(--primary);
}
.group-item-leader {
  font-size: 1rem;
  text-transform: uppercase;
}
.group-item-sched {
  font-size: 1.3rem;
  display: flex;
}

.group-item-day {
  margin-left: auto;
}
.group-item-time > span {
  margin-right: 5px;
}
.group-title-venue {
  display: flex;
  align-items: center;
}
.group-title-venue > span {
  margin-right: 5px;
}

/* FORM */
.app-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.has-background {
  background-image: linear-gradient(
    180deg,
    var(--primary) 0%,
    var(--primary) 30%,
    transparent 30%
  );
}
.app-form {
  background-color: var(--white);
  color: var(--secondary);
  width: 50rem;
  padding: 4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.app-form-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-groups-page {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.app-form-page > form,
.app-form-page > div {
  width: 100%;
  height: 100%;
  color: var(--secondary);
  padding: 2rem 3rem;
  background-color: var(--white);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.form-group {
  margin-top: 1rem;
}
.app-form label {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-control-input {
  width: 100%;
  margin-bottom: 5px;
}

.form-bottom-text {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}
.form-bottom-text > span {
  color: var(--primary);
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.form-bottom-text > span a:hover {
  text-decoration: underline;
}

.form-radio-group {
  padding: 1rem;
  /* border: 1px solid var(--light-2); */
}
.form-radio-row {
  display: flex;
  align-items: center;
}
.form-radio-row label {
  width: max-content;
}
.form-radio-row input {
  margin-bottom: 0;
  display: inline-block;
  width: max-content;
  margin-right: 1.5rem;
}
/* ALERT */
.alert {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--secondary);
  background-color: var(--white);
}
.alert-danger {
  color: var(--danger);
  background-color: var(--danger-lighten);
}

/* User Avatar */
.avatar_circle,
.avatar_circle-big {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s;
  opacity: 0.8;
  margin-left: 1.5rem;
}
.avatar_circle:hover {
  opacity: 1;
}

.avatar_circle-big {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 600;
}

.avatar_circle-big::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 1px solid var(--light-2);
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: scale(1.15);
}

.empty-page-with-button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  PROFILE VIEW */
.profile-view-header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.profile-view-name {
  margin-left: 2rem;
  position: relative;
}
.profile-view-name::after {
  content: "";
  width: 80%;
  height: 3px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: -5px 0;
  border-radius: 1px;
}
.profile-view-role {
  margin-left: 1.5rem;
  padding-left: 1.5rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--primary);
  font-weight: 600;
}
.profile-view-details {
  padding: 0 1.5rem;
}
.profile-view-details li {
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-view-details li:last-child {
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
.profile-view-details li .span-key {
  font-weight: 600;
  padding-left: 2rem;
  position: relative;
}
.profile-view-details li .span-key::before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background-color: var(--info);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.profile-view-details li .span-detail {
  margin-left: 1rem;
  text-transform: capitalize;
}

/* APP ALERT */
.app-alert {
  position: absolute;
  min-width: 30rem;
  right: 0;
  top: 6rem;
  display: inline-block;
  padding: 1rem;
  font-size: 1.4rem;
  background-color: var(--primary);
  color: var(--white);
  z-index: 900;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.app-alert-success {
  background-color: var(--success);
  color: var(--white);
}
.app-alert-danger {
  background-color: var(--danger);
  color: var(--white);
}
.app-alert-info {
  background-color: var(--info);
  color: var(--white);
}
.app-alert-warn {
  background-color: var(--warning);
  color: #333;
}

.app-group-content {
  width: 100%;
  height: calc(100% - 5rem);
  background-color: var(--white);
  padding: 0 3rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
}

.table-container {
  height: calc(100% - 52px);
  overflow-y: auto;
}
